.carousel-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-info {
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.carousel-description {
  margin-left: 20px;
  width: min(900px, 82vw);
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: var(--projects-text);
  opacity: 0.8;
  text-align: left;
}

.motivator {
  z-index: 90;
  bottom: -100px;
  position: absolute;
  border: none;
  opacity: 0.5;
}

.carousel-description--banner {
  left: 0px;
  position: absolute;
  width: 100%;
  height: 500px;
}

.carousel-content {
  position: relative;
  width: 100%;
  height: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-track {
  position: relative;
  width: min(900px, 82vw);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
