.simple-footer {
  position: relative;
  text-align: center;
  margin-top: 20px;
}

.simple-footer > div {
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .simple-footer {
    margin-top: 40px;
  }
}
