.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: image-ready 1.2s ease forwards;
  animation-delay: 500ms;
}

.image-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: grid;
  place-items: center;
}

.image-container > img {
  width: min(80vw, 420px);
  height: auto;
  border-radius: 50%;
  border: 2px solid rgb(131, 131, 131);
  cursor: pointer;
  z-index: 2;
}

.image-container .gear-container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
}

@media (max-width: 700px) {
  .image-container > img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .hero-image {
    margin-top: 0px;
  }
}

@keyframes image-ready {
  0% {
    opacity: 0;
    transform: rotateZ(12deg);
  }

  100% {
    opacity: 1;
    transform: rotateZ(0deg);
  }
}
