.page-content {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-height: 0;
}

.page {
  width: auto;
  height: auto;

  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;

  min-height: 0;

  z-index: 0;
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  pointer-events: none;
  top: 180px;

  background-position: center;
  background-size: 80px 80px;
  background-image: linear-gradient(to right, rgba(35, 35, 35, 0.63) 1px, transparent 1px), linear-gradient(to bottom, rgba(35, 35, 35, 0.62) 1px, transparent 1px);

  -webkit-mask-image: radial-gradient(ellipse at center, black 55%, rgba(0, 0, 0, 0.8) 70%, transparent 100%);

  mask-image: radial-gradient(ellipse at center, black 55%, rgba(0, 0, 0, 0.8) 70%, transparent 100%);
}

@media (max-width: 700px) {
  .page {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
