.page-content {
  display: flex;
  flex-direction: column;

  flex: 1;
  min-height: 0;
}

.page {
  width: auto;
  height: auto;
  display: flex;

  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;

  flex: 1;
  min-height: 0;

  z-index: 0;
  background-size: 80px 80px;
  background-image: linear-gradient(to right, rgb(35, 35, 35) 1px, transparent 1px), linear-gradient(to bottom, rgb(35, 35, 35) 1px, transparent 1px);
}
