header {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 80px;
  height: 80px;
  padding: 30px;
  align-items: center;
  gap: 10px;
  font-family: "JetBrains Mono", monospace;
  z-index: 9999;
}

header:before {
  position: absolute;
  content: "";
  width: 0px;
  height: 100%;
  left: 0px;
  top: 0px;
  transition:
    width 2s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 2s cubic-bezier(0.22, 1, 0.36, 1),
    border-bottom 2s cubic-bezier(0.22, 1, 0.36, 1);
  opacity: 0;
  backdrop-filter: blur(5px);
  border-bottom: 1px solid rgb(255, 255, 255);
}

header.ready:before {
  width: 100%;
  opacity: 0.5;
  border-bottom: 1px solid rgb(77, 77, 77);
}

.header-overlay.ready {
  width: 100px;
}

.home-button {
  position: relative;
  text-decoration: none;
  color: white;
  background-color: var(--accent-secondary-dark);
  padding: 10px;
  border-radius: 20px;
  font-size: 30px;
  border: none;
  transition:
    background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.home-button:hover {
  background-color: white;
  color: var(--accent-strong);
}

header > .right-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.header-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  height: 40px;
  padding: 0;
  margin: 0;
  background: none;
  color: white;
  border: none;
  text-decoration: none;
  transition: color 0.1s ease;
}

.header-button,
.home-button,
.language-dropdown {
  opacity: 0;
}

.header-button.ready,
.home-button.ready,
.language-dropdown.ready {
  animation: ready 03s ease forwards;
}

.header-button.selected,
.header-button:hover {
  color: var(--accent-strong);
}

.header-button::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 5px;
  background: var(--accent-strong);
  width: 0;
  height: 2px;
  transition:
    width 0.3s ease,
    left 0.3s ease;
}

.header-button.selected::after {
  left: 0;
  width: 100%;
}

@keyframes ready {
  0% {
    opacity: 0;
    transform: translateY(33px);
  }

  20% {
    transform: translateY(0px);
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
