.projects {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 40px;
  color: black;
  margin: 60px;
}

.project {
  position: relative;
  aspect-ratio: 16 / 9; /* or 1 / 1 if you prefer squares */
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.project img,
.project video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project video {
  opacity: 0;
  pointer-events: none;
  z-index: -1;
}

.project:hover video {
  opacity: 1;
}

.project:not(.no-video):hover img {
  opacity: 0;
}

@media (max-width: 700px) {
  .projects {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.project-info {
  color: white;
  padding: 20px;
}

.project-info > .link-chip {
  width: 24px;
  height: 24px;
}

.project-icon {
  width: 24px;
  height: 24px;
}

.project-info > .link-row {
  margin-top: 0px;
}

.link-chip.open {
  background-color: var(--accent);
  color: black;
  border: 1px solid var(--accent-dark);
}

.link-chip.open:hover {
  background-color: black;
  color: var(--accent);
  border: 1px solid var(--accent-dark);
}

.link-row h2 {
  margin: 0;
}

.link-chip:first-of-type {
  margin-left: auto;
}
