@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%,
  100% {
    scale: 1;
  }

  50% {
    scale: 1.1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(20px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translate3d(0px, 0px, 0) rotateZ(0deg);
  }

  20% {
    transform: translate3d(4px, -6px, 0) rotateZ(0.8deg);
  }

  40% {
    transform: translate3d(-5px, -2px, 0) rotateZ(-0.6deg);
  }

  60% {
    transform: translate3d(-3px, 5px, 0) rotateZ(-1deg);
  }

  80% {
    transform: translate3d(5px, 3px, 0) rotateZ(0.5deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0) rotateZ(0deg);
  }
}

@keyframes float-light {
  0% {
    transform: translate3d(0px, 0px, 0) rotateZ(0deg);
  }

  20% {
    transform: translate3d(2px, -3px, 0) rotateZ(0.8deg);
  }

  40% {
    transform: translate3d(-2px, -1px, 0) rotateZ(-0.6deg);
  }

  60% {
    transform: translate3d(-1px, 2px, 0) rotateZ(-1deg);
  }

  80% {
    transform: translate3d(2px, 1px, 0) rotateZ(0.5deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0) rotateZ(0deg);
  }
}

@keyframes float-3d {
  0% {
    transform: translate3d(0px, 0px, 0) rotateX(25deg) rotateY(-25deg) rotateZ(-3deg);
  }

  20% {
    transform: translate3d(18px, -16px, 0) rotateX(40deg) rotateY(-10deg) rotateZ(4deg);
  }

  40% {
    transform: translate3d(26px, 6px, 0) rotateX(18deg) rotateY(20deg) rotateZ(-2deg);
  }

  60% {
    transform: translate3d(-18px, 20px, 0) rotateX(-15deg) rotateY(35deg) rotateZ(5deg);
  }

  80% {
    transform: translate3d(-28px, -8px, 0) rotateX(35deg) rotateY(-35deg) rotateZ(-4deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0) rotateX(25deg) rotateY(-25deg) rotateZ(-3deg);
  }
}

@keyframes float-3d--light {
  0% {
    transform: translate3d(0, 0, 0) rotateX(12deg) rotateY(-12deg) rotateZ(-1deg);
  }

  20% {
    transform: translate3d(9px, -8px, 0) rotateX(20deg) rotateY(-10deg) rotateZ(2deg);
  }

  40% {
    transform: translate3d(13px, 3px, 0) rotateX(9deg) rotateY(10deg) rotateZ(-1deg);
  }

  60% {
    transform: translate3d(-9px, 10px, 0) rotateX(-8deg) rotateY(17deg) rotateZ(2deg);
  }

  80% {
    transform: translate3d(-14px, -3px, 0) rotateX(18deg) rotateY(-18deg) rotateZ(-2deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotateX(12deg) rotateY(-12deg) rotateZ(-1deg);
  }
}
