:root {
  --cyan: #44d9e6;
  --green: #3ddc97;

  --blue: #737feb;
  --purple: #ad8ff3;
  --accent: var(--purple);
  --accent2: var(--blue);

  --bgr: #000000;
}

html,
body,
#root {
}

.app {
  width: 100vw;
  height: 100vh;
  background: var(--bgr);
}

p {
  font-family: "Inter", sans-serif;
  color: var(--text-secondary);
  line-height: 1.3;
  font-size: 1.65rem;
}

h2 {
  color: var(--text);
  font-size: clamp(2rem, 5vw, 4rem);
  line-height: 1;
  letter-spacing: -0.05em;
}
