.skills-panel {
  width: 50%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 12px;
  border-radius: 20px;
}

.skill {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill img {
  width: 95%;
  height: 95%;
  object-fit: contain;
}

@media (max-width: 700px) {
  .skills-panel {
    width: 350px;
  }
}
