.musician-page {
  display: flex;
  flex-direction: column;
  animation: 1s forwards fade-rise;
}

.musician-intro {
  font-weight: 100;
  margin-bottom: 100px;
}

.musician-title > h2 {
  font-size: 60px;
}

.musician-title {
  width: 80%;
}

.musician-intro > p {
  font-size: 20px;
}

@media (max-width: 700px) {
  .musician-page .page-intro {
    width: 90%;
  }
  .musician-title > h2 {
    font-size: 24px;
  }

  .musician-intro {
    margin-bottom: 40px;
  }
}
