.hero {
  width: auto;
  height: calc(100svh - 180px);
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.hero > :first-child {
  flex: 1;
}

.hero > :nth-child(2) {
  flex: 1;
}

@media (max-width: 700px) {
  .hero {
    margin-left: 10px;
    margin-right: 10px;
    flex-direction: column;
  }

  .hero > :first-child,
  .hero > :nth-child(2) {
    flex: initial;
  }
}
