.hero-info {
  width: auto;
  height: auto;
  transform-style: preserve-3d;
}

.hero-info .hero-greeting {
  font-size: 82px;
  font-weight: 500;
  letter-spacing: -0.05em;
}

.hero-info strong {
  position: relative;
  color: var(--accent-strong);
  transition: color 1.4s ease;
}

.hero-info strong:hover {
  color: black;
}

.hero-info strong::after {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  background-color: var(--accent-strong);
  z-index: -1;
  transition:
    width 0.8s ease,
    color 0.8s ease;
}

.hero-info strong:hover::after {
  width: calc(100% + 10px);
}

.link-row {
  margin-top: 80px;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 40px;
  font-size: 16px;
  line-height: 1;
}

.link-row > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;

  width: auto;
  height: 100%;

  padding-left: 15px;
  padding-right: 15px;

  letter-spacing: 0.1rem;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "JetBrains Mono", monospace;

  background-color: black;
  border: 1px solid var(--accent-secondary-light);
  color: var(--accent-secondary);
  border-radius: 20px;

  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.link-row > a:hover {
  background-color: var(--accent-secondary-light);
  border: 1px solid var(--accent-secondary-dark);
  color: black;
  transition: none;
}

@media (max-width: 700px) {
  .hero-info .hero-greeting {
    font-size: 50px;
    line-height: 1.05;
    letter-spacing: 0;
  }

  .hero-info .greeting {
    font-size: inherit;
  }

  .hero-info .hero-greeting p {
    font-size: 16px;
    line-height: 1.35;
    letter-spacing: 0;
  }

  .link-row {
    margin-top: 0px;
  }
}
