.projects-section {
  position: relative;
  width: 100%;
  min-height: 100svh;
  padding: 80px 0;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.projects-content {
  width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  gap: 250px;
  align-items: center;
  overflow: hidden;
}

.projects-section .sub-title {
  position: relative;
  display: inline-block;
  margin-bottom: 0px;

  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(1.4rem, 2.5vw, 2.5rem);
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: var(--projects-text);
  align-self: center;
}

.projects-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  margin: 48px 0 80px;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  color: var(--contrast);
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

.projects-title {
  position: relative;
  font-size: clamp(2rem, 4vw, 3.2rem);
  font-family: "Space Grotesk", sans-serif;
  font-weight: 300;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
}

.projects-title::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 5px;
  background: var(--text);
  transition:
    background 0.3s ease,
    width 0.5s ease;
}

.projects-title:hover::after {
  width: 100%;
}

.projects-arrow {
  width: 42px;
  height: auto;
  opacity: 0.8;
  user-select: none;
}

@media (max-width: 700px) {
  .projects-section .sub-title {
    align-self: center;
    text-align: center;
    width: fit-content;
    max-width: 90%;
  }

  .projects-intro {
    margin-top: 40px;
    color: var(--text);
    margin-bottom: 100px;
  }

  .projects-content {
    gap: 120px;
  }
}
