.projects-section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 80px 0;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.projects-content {
  margin-top: 100px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 300px;
  align-items: center;
  overflow: hidden;
}

.projects-section .title {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: 800;
  color: var(--accent);
}

.projects-section .sub-title {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;

  font-family: "Space Grotesk", sans-serif;
  font-size: clamp(1.4rem, 2.5vw, 2.5rem);
  font-weight: 700;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  color: var(--text);
  align-self: center;
}

.projects-section .sub-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;

  width: 70px;
  height: 3px;

  background: var(--text);
  border-radius: 999px;
}
/* 
.sub-title.left {
  align-self: flex-start;
  padding-left: 100px;
  font-family: "JetBrains Mono", monospace;
}

.sub-title.right {
  align-self: flex-end;
  padding-right: 400px;
  font-family: "Syne", sans-serif;
  font-weight: 800;
} */
