.skills-panel {
  width: 50%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  padding: 12px;
  border-radius: 20px;
}

.skill {
  position: relative;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 0;
}

.skill.open {
  transform: translateY(-5%);
  z-index: 2;
}

.tooltip {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 0;
  background: var(--accent-light);
  opacity: 0;
  border: 2px solid black;
  border-radius: 20px;
  max-height: 0;
  transition:
    width 0.3s ease,
    max-height 0.3s ease,
    left 0.3s ease,
    top 0.3s ease;
  pointer-events: none;
  box-sizing: border-box;
  overflow: hidden;
}

.tooltip--inner {
  margin: 5px 5px 5px auto;
  padding: 5px;
  width: calc(50% - 10px);
  min-height: 100px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: var(--accent-strong);
  color: white;
  top: 10px;
}

.skill .tooltip.open {
  opacity: 1;
  left: -10px;
  top: -7px;
  width: 240px;
  min-height: 120px;
  max-height: 260px;
  height: auto;
  color: var(--accent-strong);
}

.tooltip .stars-container {
  display: flex;
  flex-direction: row;
}

.skill img {
  width: 95%;
  height: 95%;
  object-fit: contain;
}

@media (max-width: 700px) {
  .skills-panel {
    width: 90%;
    grid-template-columns: repeat(4, 1fr);
  }
}
